

header{
	background: #333;
	padding:20px;
	font-size: 20px;
	margin:0 0 20px;
	height: 20px;
	border-bottom: 2px solid #bbb;
	text-align: center;
	color:#fff;
}

.pageContent{
	height: calc(100vh - 170px);
}

.btn{
	padding: 10px;	
}
.hide{
	display: none;
}

.image-grid {
  font-size: 0;
  flex-flow: row wrap;
  display: flex;
  padding: .1vh;
}
.image-grid li {
  flex: auto;
  width: 350px;
  height:350px;
  margin: .1vh;
}
.image-grid li:hover {
  opacity: 0.8;
}
.image-grid li img {
  width: 100%;
  height: auto;
}


footer{
	background: #bbb;
	padding:20px;
	font-size: 20px;
	margin:20px 0 0;
	height: 20px;
	border-top: 2px solid;
	text-align: center;
	color:#aaa;
}