		<footer>footer</footer>
		<script>
			pageInfo = {
				cacheVersion:"<%=cacheVersion%>"
			}
		</script>
		<script defer src="/client/js/main.js"></script>
		<script defer src="/client/js/sw-handler.js"></script>
	</body>
</html>