<footer>footer</footer>
		<script class="scriptString">
			pageInfo = {
				cacheVersion:"<%=cacheVersion%>",
				pageType:"<%=pageType%>",
				currentUrl:"<%=currentUrl%>"
			}
		</script>
		<script class="scriptElement" defer src="/client/js/main.js"></script>
		<script class="scriptElement" defer src="/client/js/sw-handler.js"></script>
	</body>
</html>